<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="Van Name - New Year&apos;s Eve"
					useFullscreenExpand="true"
					showThumbsButton="false"
		>
			<image imageURL="images/IMG_0499.jpg" thumbURL="thumbs/IMG_0499.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0500.jpg" thumbURL="thumbs/IMG_0500.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0496.jpg" thumbURL="thumbs/IMG_0496.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0498.jpg" thumbURL="thumbs/IMG_0498.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0503.jpg" thumbURL="thumbs/IMG_0503.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0504.jpg" thumbURL="thumbs/IMG_0504.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0505.jpg" thumbURL="thumbs/IMG_0505.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0502.jpg" thumbURL="thumbs/IMG_0502.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0506.jpg" thumbURL="thumbs/IMG_0506.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0513.jpg" thumbURL="thumbs/IMG_0513.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Frame-01-01-2020-06-29-46.jpg" thumbURL="thumbs/Frame-01-01-2020-06-29-46.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Frame-01-01-2020-06-37-36.jpg" thumbURL="thumbs/Frame-01-01-2020-06-37-36.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0521.jpg" thumbURL="thumbs/IMG_0521.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0518.jpg" thumbURL="thumbs/IMG_0518.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0523.jpg" thumbURL="thumbs/IMG_0523.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
