<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="Kids -Septenber 2019"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"
>

	<image imageURL="images/PHOTO-2019-09-27-16-03-13.jpg" thumbURL="thumbs/PHOTO-2019-09-27-16-03-13.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/PHOTO-2019-09-06-16-27-30_copy.jpg" thumbURL="thumbs/PHOTO-2019-09-06-16-27-30_copy.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20190904_143343.jpg" thumbURL="thumbs/20190904_143343.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/PHOTO-2019-08-25-11-45-10.jpg" thumbURL="thumbs/PHOTO-2019-08-25-11-45-10.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
