<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="The Boys - NY 2017"
		
>

			<image imageURL="images/IMG_2959.jpg" thumbURL="thumbs/IMG_2959.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3117.jpg" thumbURL="thumbs/IMG_3117.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3074.jpg" thumbURL="thumbs/IMG_3074.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3059.jpg" thumbURL="thumbs/IMG_3059.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3085.jpg" thumbURL="thumbs/IMG_3085.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
