<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="The Patient"
		>
			<image imageURL="images/nome-luiz.jpg" thumbURL="thumbs/nome-luiz.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Untitled.jpg" thumbURL="thumbs/Untitled.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Untitled_2.jpg" thumbURL="thumbs/Untitled_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0100.jpg" thumbURL="thumbs/IMG_0100.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1372.jpg" thumbURL="thumbs/IMG_1372.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1402.jpg" thumbURL="thumbs/IMG_1402.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1404.jpg" thumbURL="thumbs/IMG_1404.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/Untitled_3.jpg" thumbURL="thumbs/Untitled_3.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
