<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Visitors of Cooper Hewitt"
					useFullscreenExpand="true"
					showOpenButton="false"
					thumbFrameColor="rgba(255,255,255,0.25)"
		
>

			<image imageURL="images/DSC_6031.jpg" thumbURL="thumbs/DSC_6031.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6076.jpg" thumbURL="thumbs/DSC_6076.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6058.jpg" thumbURL="thumbs/DSC_6058.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6040.jpg" thumbURL="thumbs/DSC_6040.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6042.jpg" thumbURL="thumbs/DSC_6042.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6074.jpg" thumbURL="thumbs/DSC_6074.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6086.jpg" thumbURL="thumbs/DSC_6086.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6088.jpg" thumbURL="thumbs/DSC_6088.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6089.jpg" thumbURL="thumbs/DSC_6089.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6114.jpg" thumbURL="thumbs/DSC_6114.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6123.jpg" thumbURL="thumbs/DSC_6123.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6121.jpg" thumbURL="thumbs/DSC_6121.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6122.jpg" thumbURL="thumbs/DSC_6122.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6147.jpg" thumbURL="thumbs/DSC_6147.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6149.jpg" thumbURL="thumbs/DSC_6149.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6214.jpg" thumbURL="thumbs/DSC_6214.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6205.jpg" thumbURL="thumbs/DSC_6205.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6206.jpg" thumbURL="thumbs/DSC_6206.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6208.jpg" thumbURL="thumbs/DSC_6208.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6211.jpg" thumbURL="thumbs/DSC_6211.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6168.jpg" thumbURL="thumbs/DSC_6168.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6215.jpg" thumbURL="thumbs/DSC_6215.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6212.jpg" thumbURL="thumbs/DSC_6212.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6213.jpg" thumbURL="thumbs/DSC_6213.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
