<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Ilana @ Central Park"
					useFullscreenExpand="true"
					showOpenButton="false"
		
>

			<image imageURL="images/DSC_4947.jpg" thumbURL="thumbs/DSC_4947.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4946.jpg" thumbURL="thumbs/DSC_4946.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4949.jpg" thumbURL="thumbs/DSC_4949.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4957.jpg" thumbURL="thumbs/DSC_4957.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4951.jpg" thumbURL="thumbs/DSC_4951.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4958.jpg" thumbURL="thumbs/DSC_4958.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_4959.jpg" thumbURL="thumbs/DSC_4959.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5079.jpg" thumbURL="thumbs/DSC_5079.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5080.jpg" thumbURL="thumbs/DSC_5080.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5078.jpg" thumbURL="thumbs/DSC_5078.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5081.jpg" thumbURL="thumbs/DSC_5081.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5082.jpg" thumbURL="thumbs/DSC_5082.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5083.jpg" thumbURL="thumbs/DSC_5083.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
