<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="Crown Heights -  Spring 2018"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"
>

	<image imageURL="images/IMG_4079.jpg" thumbURL="thumbs/IMG_4079.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4058.jpg" thumbURL="thumbs/IMG_4058.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4091.jpg" thumbURL="thumbs/IMG_4091.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4081.jpg" thumbURL="thumbs/IMG_4081.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4068.jpg" thumbURL="thumbs/IMG_4068.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4076.jpg" thumbURL="thumbs/IMG_4076.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4072.jpg" thumbURL="thumbs/IMG_4072.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4094.jpg" thumbURL="thumbs/IMG_4094.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4093.jpg" thumbURL="thumbs/IMG_4093.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_3794.jpg" thumbURL="thumbs/IMG_3794.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_3795.jpg" thumbURL="thumbs/IMG_3795.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4065.jpg" thumbURL="thumbs/IMG_4065.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4067.jpg" thumbURL="thumbs/IMG_4067.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4086.jpg" thumbURL="thumbs/IMG_4086.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
