<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Provocations - Cooper Hewitt"
					useFullscreenExpand="true"
					showOpenButton="false"
					thumbFrameColor="rgba(255,255,255,0.25)"
		
>

			<image imageURL="images/DSC_5976.jpg" thumbURL="thumbs/DSC_5976.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5978.jpg" thumbURL="thumbs/DSC_5978.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5981.jpg" thumbURL="thumbs/DSC_5981.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5984.jpg" thumbURL="thumbs/DSC_5984.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6060.jpg" thumbURL="thumbs/DSC_6060.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5980.jpg" thumbURL="thumbs/DSC_5980.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6025.jpg" thumbURL="thumbs/DSC_6025.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5986.jpg" thumbURL="thumbs/DSC_5986.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5990.jpg" thumbURL="thumbs/DSC_5990.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5997.jpg" thumbURL="thumbs/DSC_5997.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6010.jpg" thumbURL="thumbs/DSC_6010.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6000.jpg" thumbURL="thumbs/DSC_6000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6029.jpg" thumbURL="thumbs/DSC_6029.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6020.jpg" thumbURL="thumbs/DSC_6020.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6007.jpg" thumbURL="thumbs/DSC_6007.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6008.jpg" thumbURL="thumbs/DSC_6008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6003.jpg" thumbURL="thumbs/DSC_6003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6023.jpg" thumbURL="thumbs/DSC_6023.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6035.jpg" thumbURL="thumbs/DSC_6035.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6036.jpg" thumbURL="thumbs/DSC_6036.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6039.jpg" thumbURL="thumbs/DSC_6039.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6011.jpg" thumbURL="thumbs/DSC_6011.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5991.jpg" thumbURL="thumbs/DSC_5991.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5992.jpg" thumbURL="thumbs/DSC_5992.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5993.jpg" thumbURL="thumbs/DSC_5993.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5994.jpg" thumbURL="thumbs/DSC_5994.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6062.jpg" thumbURL="thumbs/DSC_6062.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6059.jpg" thumbURL="thumbs/DSC_6059.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5983.jpg" thumbURL="thumbs/DSC_5983.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6016.jpg" thumbURL="thumbs/DSC_6016.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6017.jpg" thumbURL="thumbs/DSC_6017.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6018.jpg" thumbURL="thumbs/DSC_6018.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6013.jpg" thumbURL="thumbs/DSC_6013.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6057.jpg" thumbURL="thumbs/DSC_6057.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6041.jpg" thumbURL="thumbs/DSC_6041.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6034.jpg" thumbURL="thumbs/DSC_6034.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6048.jpg" thumbURL="thumbs/DSC_6048.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6049.jpg" thumbURL="thumbs/DSC_6049.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6056.jpg" thumbURL="thumbs/DSC_6056.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6055.jpg" thumbURL="thumbs/DSC_6055.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6064.jpg" thumbURL="thumbs/DSC_6064.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6068.jpg" thumbURL="thumbs/DSC_6068.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6061.jpg" thumbURL="thumbs/DSC_6061.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6065.jpg" thumbURL="thumbs/DSC_6065.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6066.jpg" thumbURL="thumbs/DSC_6066.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_6067.jpg" thumbURL="thumbs/DSC_6067.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
