<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="NY 2016"
		
>

			<image imageURL="images/IMG_0320.jpg" thumbURL="thumbs/IMG_0320.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_5.jpg" thumbURL="thumbs/FullSizeRender_5.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_4.jpg" thumbURL="thumbs/FullSizeRender_4.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1162.jpg" thumbURL="thumbs/IMG_1162.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_3.jpg" thumbURL="thumbs/FullSizeRender_3.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
