<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Rivikah - The Little Princess"
		
>

			<image imageURL="images/IMG_2978.jpg" thumbURL="thumbs/IMG_2978.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3001.jpg" thumbURL="thumbs/IMG_3001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2966.jpg" thumbURL="thumbs/IMG_2966.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3002.jpg" thumbURL="thumbs/IMG_3002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
