<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="FF61 at Night"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="false"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="true"
>

	<image imageURL="images/_DSC0291.jpg" thumbURL="thumbs/_DSC0291.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0290.jpg" thumbURL="thumbs/_DSC0290.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0298.jpg" thumbURL="thumbs/_DSC0298.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0298-2.jpg" thumbURL="thumbs/_DSC0298-2.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0294.jpg" thumbURL="thumbs/_DSC0294.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0293.jpg" thumbURL="thumbs/_DSC0293.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0304.jpg" thumbURL="thumbs/_DSC0304.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/_DSC0299.jpg" thumbURL="thumbs/_DSC0299.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
