<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="Como é Belo o Jardim da Minha Casa (dedicado a Noni)"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="true"
>

	<image imageURL="images/my-garden_-_11_of_48.jpg" thumbURL="thumbs/my-garden_-_11_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_12_of_48.jpg" thumbURL="thumbs/my-garden_-_12_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_38_of_48.jpg" thumbURL="thumbs/my-garden_-_38_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_5_of_48.jpg" thumbURL="thumbs/my-garden_-_5_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_3_of_48.jpg" thumbURL="thumbs/my-garden_-_3_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_14_of_48.jpg" thumbURL="thumbs/my-garden_-_14_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_7_of_48.jpg" thumbURL="thumbs/my-garden_-_7_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_8_of_48.jpg" thumbURL="thumbs/my-garden_-_8_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_4_of_48.jpg" thumbURL="thumbs/my-garden_-_4_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_20_of_48.jpg" thumbURL="thumbs/my-garden_-_20_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_9_of_48.jpg" thumbURL="thumbs/my-garden_-_9_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_25_of_48.jpg" thumbURL="thumbs/my-garden_-_25_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_10_of_48.jpg" thumbURL="thumbs/my-garden_-_10_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_28_of_48.jpg" thumbURL="thumbs/my-garden_-_28_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_29_of_48.jpg" thumbURL="thumbs/my-garden_-_29_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_30_of_48.jpg" thumbURL="thumbs/my-garden_-_30_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_13_of_48.jpg" thumbURL="thumbs/my-garden_-_13_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_17_of_48.jpg" thumbURL="thumbs/my-garden_-_17_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_19_of_48.jpg" thumbURL="thumbs/my-garden_-_19_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_18_of_48.jpg" thumbURL="thumbs/my-garden_-_18_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_21_of_48.jpg" thumbURL="thumbs/my-garden_-_21_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_22_of_48.jpg" thumbURL="thumbs/my-garden_-_22_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_26_of_48.jpg" thumbURL="thumbs/my-garden_-_26_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_27_of_48.jpg" thumbURL="thumbs/my-garden_-_27_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_31_of_48.jpg" thumbURL="thumbs/my-garden_-_31_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_32_of_48.jpg" thumbURL="thumbs/my-garden_-_32_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_33_of_48.jpg" thumbURL="thumbs/my-garden_-_33_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_34_of_48.jpg" thumbURL="thumbs/my-garden_-_34_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_35_of_48.jpg" thumbURL="thumbs/my-garden_-_35_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_40_of_48.jpg" thumbURL="thumbs/my-garden_-_40_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_42_of_48.jpg" thumbURL="thumbs/my-garden_-_42_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_41_of_48.jpg" thumbURL="thumbs/my-garden_-_41_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_43_of_48.jpg" thumbURL="thumbs/my-garden_-_43_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_44_of_48.jpg" thumbURL="thumbs/my-garden_-_44_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_39_of_48.jpg" thumbURL="thumbs/my-garden_-_39_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_45_of_48.jpg" thumbURL="thumbs/my-garden_-_45_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_46_of_48.jpg" thumbURL="thumbs/my-garden_-_46_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_47_of_48.jpg" thumbURL="thumbs/my-garden_-_47_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_48_of_48.jpg" thumbURL="thumbs/my-garden_-_48_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_6_of_48.jpg" thumbURL="thumbs/my-garden_-_6_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_37_of_48.jpg" thumbURL="thumbs/my-garden_-_37_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_16_of_48.jpg" thumbURL="thumbs/my-garden_-_16_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_15_of_48.jpg" thumbURL="thumbs/my-garden_-_15_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_24_of_48.jpg" thumbURL="thumbs/my-garden_-_24_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_23_of_48.jpg" thumbURL="thumbs/my-garden_-_23_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/my-garden_-_2_of_48.jpg" thumbURL="thumbs/my-garden_-_2_of_48.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
