<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Whitney Museum"
					useFullscreenExpand="true"
					showOpenButton="false"
					thumbFrameColor="rgba(255,255,255,0.25)"
		
>

			<image imageURL="images/DSC_5775.jpg" thumbURL="thumbs/DSC_5775.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5815.jpg" thumbURL="thumbs/DSC_5815.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5824.jpg" thumbURL="thumbs/DSC_5824.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5812.jpg" thumbURL="thumbs/DSC_5812.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5810.jpg" thumbURL="thumbs/DSC_5810.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5866.jpg" thumbURL="thumbs/DSC_5866.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5879.jpg" thumbURL="thumbs/DSC_5879.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5867.jpg" thumbURL="thumbs/DSC_5867.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5870.jpg" thumbURL="thumbs/DSC_5870.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5891.jpg" thumbURL="thumbs/DSC_5891.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5896.jpg" thumbURL="thumbs/DSC_5896.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5902.jpg" thumbURL="thumbs/DSC_5902.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5905.jpg" thumbURL="thumbs/DSC_5905.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5907.jpg" thumbURL="thumbs/DSC_5907.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5911.jpg" thumbURL="thumbs/DSC_5911.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5914.jpg" thumbURL="thumbs/DSC_5914.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5916.jpg" thumbURL="thumbs/DSC_5916.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5922.jpg" thumbURL="thumbs/DSC_5922.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5921.jpg" thumbURL="thumbs/DSC_5921.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/DSC_5923.jpg" thumbURL="thumbs/DSC_5923.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
