<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="New Year 2017"
		
>

			<image imageURL="images/IMG_8616.jpg" thumbURL="thumbs/IMG_8616.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2590.jpg" thumbURL="thumbs/IMG_2590.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3031.jpg" thumbURL="thumbs/IMG_3031.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_5189.jpg" thumbURL="thumbs/IMG_5189.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_8254.jpg" thumbURL="thumbs/IMG_8254.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_3539.jpg" thumbURL="thumbs/IMG_3539.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
