<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="NYU - 60 Fifty Ave"
		
>

			<image imageURL="images/IMG_1846.jpg" thumbURL="thumbs/IMG_1846.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1842.jpg" thumbURL="thumbs/IMG_1842.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1843.jpg" thumbURL="thumbs/IMG_1843.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1849.jpg" thumbURL="thumbs/IMG_1849.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1848.jpg" thumbURL="thumbs/IMG_1848.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1845.jpg" thumbURL="thumbs/IMG_1845.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1844.jpg" thumbURL="thumbs/IMG_1844.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
