<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Sunset at Salvador - Rio Vermelho"
		
>

			<image imageURL="images/IMG_2445.jpg" thumbURL="thumbs/IMG_2445.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2443.jpg" thumbURL="thumbs/IMG_2443.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
