<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="Vittorio Storaro - Painting with Light"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"
>

	<image imageURL="images/IMG_4327.jpg" thumbURL="thumbs/IMG_4327.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4323.jpg" thumbURL="thumbs/IMG_4323.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4294.jpg" thumbURL="thumbs/IMG_4294.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4313.jpg" thumbURL="thumbs/IMG_4313.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4344.jpg" thumbURL="thumbs/IMG_4344.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4367.jpg" thumbURL="thumbs/IMG_4367.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4349.jpg" thumbURL="thumbs/IMG_4349.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4288.jpg" thumbURL="thumbs/IMG_4288.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4284.jpg" thumbURL="thumbs/IMG_4284.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4292.jpg" thumbURL="thumbs/IMG_4292.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4276.jpg" thumbURL="thumbs/IMG_4276.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4305.jpg" thumbURL="thumbs/IMG_4305.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
