<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Mom and the kids"
		
>

			<image imageURL="images/_DSC0007.jpg" thumbURL="thumbs/_DSC0007.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0006.jpg" thumbURL="thumbs/_DSC0006.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0004.jpg" thumbURL="thumbs/_DSC0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
