<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="NYC - Dec 2019"
					useFullscreenExpand="true"
					showThumbsButton="false"
		>
			<image imageURL="images/IMG_0001.jpg" thumbURL="thumbs/IMG_0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0003.jpg" thumbURL="thumbs/IMG_0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0004.jpg" thumbURL="thumbs/IMG_0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0091.jpg" thumbURL="thumbs/IMG_0091.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0473.jpg" thumbURL="thumbs/IMG_0473.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0472.jpg" thumbURL="thumbs/IMG_0472.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0474.jpg" thumbURL="thumbs/IMG_0474.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0487.jpg" thumbURL="thumbs/IMG_0487.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0494.jpg" thumbURL="thumbs/IMG_0494.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
