<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="AstroNews"
		
>

			<image imageURL="images/IMG_2122.jpg" thumbURL="thumbs/IMG_2122.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2116.jpg" thumbURL="thumbs/IMG_2116.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2117.jpg" thumbURL="thumbs/IMG_2117.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2124.jpg" thumbURL="thumbs/IMG_2124.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_2119.jpg" thumbURL="thumbs/IMG_2119.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
