<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="ICM 2018"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"
>

	<image imageURL="images/IMG_4481.jpg" thumbURL="thumbs/IMG_4481.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4484.jpg" thumbURL="thumbs/IMG_4484.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4486.jpg" thumbURL="thumbs/IMG_4486.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4489.jpg" thumbURL="thumbs/IMG_4489.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4493.jpg" thumbURL="thumbs/IMG_4493.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4499.jpg" thumbURL="thumbs/IMG_4499.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4516.jpg" thumbURL="thumbs/IMG_4516.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4525.jpg" thumbURL="thumbs/IMG_4525.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4531.jpg" thumbURL="thumbs/IMG_4531.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/IMG_4558.jpg" thumbURL="thumbs/IMG_4558.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
