<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Staten - Fun at the Pool"
		
>

			<image imageURL="images/_DSC0619.jpg" thumbURL="thumbs/_DSC0619.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0622.jpg" thumbURL="thumbs/_DSC0622.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0679.jpg" thumbURL="thumbs/_DSC0679.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0698.jpg" thumbURL="thumbs/_DSC0698.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0697.jpg" thumbURL="thumbs/_DSC0697.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0685.jpg" thumbURL="thumbs/_DSC0685.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0657.jpg" thumbURL="thumbs/_DSC0657.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0660.jpg" thumbURL="thumbs/_DSC0660.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0681.jpg" thumbURL="thumbs/_DSC0681.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0666.jpg" thumbURL="thumbs/_DSC0666.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC0683.jpg" thumbURL="thumbs/_DSC0683.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
