<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Manhattan Skyline 2017"
		
>

			<image imageURL="images/FullSizeRender_29.jpg" thumbURL="thumbs/FullSizeRender_29.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1839.jpg" thumbURL="thumbs/IMG_1839.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1899.jpg" thumbURL="thumbs/IMG_1899.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_1896.jpg" thumbURL="thumbs/IMG_1896.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_51.jpg" thumbURL="thumbs/FullSizeRender_51.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_45.jpg" thumbURL="thumbs/FullSizeRender_45.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
