<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Shots of NYC"
		
>

			<image imageURL="images/FullSizeRender.jpg" thumbURL="thumbs/FullSizeRender.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0407.jpg" thumbURL="thumbs/IMG_0407.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0408.jpg" thumbURL="thumbs/IMG_0408.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0524.jpg" thumbURL="thumbs/IMG_0524.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0389.jpg" thumbURL="thumbs/IMG_0389.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0390.jpg" thumbURL="thumbs/IMG_0390.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0560.jpg" thumbURL="thumbs/IMG_0560.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0559.jpg" thumbURL="thumbs/IMG_0559.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/FullSizeRender_2.jpg" thumbURL="thumbs/FullSizeRender_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0324.jpg" thumbURL="thumbs/IMG_0324.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
