<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				galleryTitle="Brooklyn Botanical Garden"
					useFullscreenExpand="true"
					showOpenButton="false"
					thumbFrameColor="rgba(255,255,255,0.21)"
		
>

			<image imageURL="images/_DSC5217.jpg" thumbURL="thumbs/_DSC5217.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5236.jpg" thumbURL="thumbs/_DSC5236.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5279.jpg" thumbURL="thumbs/_DSC5279.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5281.jpg" thumbURL="thumbs/_DSC5281.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5180.jpg" thumbURL="thumbs/_DSC5180.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5246.jpg" thumbURL="thumbs/_DSC5246.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5240.jpg" thumbURL="thumbs/_DSC5240.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5259.jpg" thumbURL="thumbs/_DSC5259.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5191.jpg" thumbURL="thumbs/_DSC5191.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5195.jpg" thumbURL="thumbs/_DSC5195.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5199.jpg" thumbURL="thumbs/_DSC5199.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5263.jpg" thumbURL="thumbs/_DSC5263.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5272.jpg" thumbURL="thumbs/_DSC5272.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5274.jpg" thumbURL="thumbs/_DSC5274.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5169.jpg" thumbURL="thumbs/_DSC5169.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5174.jpg" thumbURL="thumbs/_DSC5174.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5161.jpg" thumbURL="thumbs/_DSC5161.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5318.jpg" thumbURL="thumbs/_DSC5318.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5230.jpg" thumbURL="thumbs/_DSC5230.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5305.jpg" thumbURL="thumbs/_DSC5305.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5350.jpg" thumbURL="thumbs/_DSC5350.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5345.jpg" thumbURL="thumbs/_DSC5345.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5335.jpg" thumbURL="thumbs/_DSC5335.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5362.jpg" thumbURL="thumbs/_DSC5362.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5387.jpg" thumbURL="thumbs/_DSC5387.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5418.jpg" thumbURL="thumbs/_DSC5418.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
